*{
    margin: 0;
    padding: 0;
}

/** Nav Bar Style **/

header{
    margin-bottom: 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin: 25px 160px 40px 160px;
}

.logo{
    font-size: 30px;
    font-weight: bold;
}

.sign-in-btn{
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 106, 80);
    width: 100px;
    line-height: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 5px;

}

/** Header Section Style **/

.banner{
    
    display: flex;
    justify-content: space-around;
    margin: 25px 160px 20px 160px;
    padding: 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);

}

.banner-content{
    gap: 60px;
}

.banner-welcome{
    font-size: 24px;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 15px;
    color: rgba(14, 14, 14, 0.5);


}


.banner-title{
    font-size: 55px;
    font-weight: 700;
    color: rgb(14, 14, 14);
    margin-bottom: 25px;

}

.banner-btn{
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    background: rgb(0, 106, 80);

}


/** Pillars of "Bangladesh 2.0"  section style **/

.section-content{
    display: flex;
    justify-content: space-around;
    gap: 25px;

}

.pb-content{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 25px;
    text-align: left;

}



/** The Vision of Future section style **/

.card{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    gap: 25px;
}

.card-content-1{
    padding: 30px;
    text-align: left;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);

}

.card-content-2{
    padding: 30px;
    text-align: left;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
}

.card-content-3{
    padding: 30px;
    text-align: left;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);

}

.card-btn-1{
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    margin-top: 45px;
    padding: 10px 20px;
}

.card-btn-2{
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background:rgb(9, 161, 92);
    color: rgb(255, 255, 255);
    margin-top: 45px;
    padding: 10px 20px;
}

.card-btn-3{
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    color: rgb(255, 255, 255);
    margin-top: 45px;
    padding: 10px 20px;
}

/** Dr.Yunus section style **/

.dr-yunus{
    padding: 40px 25px 45px 25px;
    text-align: left;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    position: relative;
    
    
}

.quote-img{
    width: 40px;
    height: 60px;
    margin-top: 25px;
    display: block;
}


/** News section style **/

.news-box{
    display: flex;
    margin-top: 30px;
    padding: 48px;
    gap: 30px;

}



/** Shared Style **/

.margin{
    margin: 0px  160px 0px 160px;
}
main, section{
    margin-bottom: 80px;
}

.section-title{
    font-size: 40px;
    font-weight: 700;
    font-family: fira sans;
    color: rgb(14, 14, 14);
    margin-bottom: 25px;
}

.card-title{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0px 10px 0px;
    color: rgba(14, 14, 14, 0.8);
}

.section-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}

.yunus-bg{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 80px;

}

.primary-bg{
    border: 1px solid rgba(14, 14, 14, 0.15);
    box-sizing: border-box;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    

}



 